.work-directory {
    position: absolute;
    top: 0;
    left: 0;    
    margin-top: 68rem;
    text-align: left;
    margin-left: 2.5rem;
    list-style-type: none;
    user-select: none;
}

.exp {
    color: white;
}