@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.logo {
    height: 15vmin;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4rem;
}