.certification-details-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: var(--border-radius-sm);
    text-align: center;
}

.certification-text {
    color: var(--text-color);
}

.certification-text .large-font {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: var(--spacing-sm);
}

.certification-text .small-font {
    font-size: 1rem;
}